@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap');

@font-face {
    font-family: "M PLUS ROUNDED 1c";
    src: "";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "M PLUS ROUNDED 1c";
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

/* MMOBILE DIV */
#mobile-div{
    position: fixed;
    inset: 0;
    z-index: 80;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mobile-div>img{
    height: 300px;
    width: 300px;
}

/* LOADER */
#loader{
    position: fixed;
    z-index: 100;
    inset: 0;
    background-color: #100D0E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}
#dots{
    display: flex;
}
.dot{
    background-color: #dadada;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 2vw;
    animation-name: anim-wave;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}
.dot:nth-child(1){
    animation-delay: 0s;
}
.dot:nth-child(2){
    animation-delay: 0.5s;
}
.dot:nth-child(3){
    animation-delay: 1s;
}
.dot:nth-child(4){
    animation-delay: 1.5s;
}
.dot:nth-child(5){
    animation-delay: 2s;
}
@keyframes anim-wave{
    0%{
        transform: translateY(0%);
        background-color: #dadada;
    }
    50%{
        transform: translateY(-150%);
        background-color: white;
    }
    100%{
        transform: translateY(0%);
        background-color: #dadada;
    }
}

/* CURSOR */
#cursor {
    position: fixed;
    background-color: rgb(255, 140, 255);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    inset: 0;
    z-index: 100;
    transition:background-image 0.5s ease;
    pointer-events: none;
    mix-blend-mode: difference;
    display: inline-block;
    background-position: center;
    background-size: cover;
}

#main {
    background-color: #100D0E;
}

/* PURPLE DIV  */
#purple{
    position: fixed;
    background-color: rgb(255, 160, 255);
    height: 100vh;
    width: 100vw;
    z-index: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
#scroller{
    display: flex;
    flex-direction: column;
    white-space: no-wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 5vw;
    gap: 2vw;
    padding-top: 4vw;
}
#scroll-1,#scroll-2{
    display: flex;
    gap: 4vw;
}
.scroll-L-R,.scroll-R-L{
    display: flex;
    white-space: no-wrap;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}
.scroll-L-R{
    animation-name: anim-L-R;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroll-R-L{
    animation-name: anim-R-L;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.scroll-R-L h2{
    -webkit-text-stroke: 0.1px white;
    color: rgb(255, 160, 255);
}
/* .scroll-h2{
    color: #100D0E;
} */

@keyframes anim-L-R{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
@keyframes anim-R-L{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(0%);
    }
}

/* NAV  */
nav {
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3%;
    position: fixed;
    top: 0%;
    z-index: 50;
    mix-blend-mode: difference;
}

nav>img {
    height: 25px;
}

nav>img:hover {
    filter: opacity(80%);
    cursor: pointer;
}

#nav-mid {
    display: flex;
    gap: 40px;
}

#nav-mid>h4 {
    font-size: 14px;
    font-weight: 500;
    /* transition: all 0.5s ease; */
}

#nav-mid>h4:nth-child(1):hover {
    border-bottom: 1.5px solid #fff;
    cursor: pointer;
    font-weight: 600;
}

#nav-mid>h4:nth-child(2):hover {
    border-bottom: 1.5px solid #fff;
    cursor: pointer;
    font-weight: 600;
}

#nav-mid>h4:nth-child(3):hover {
    border-bottom: 1.5px solid #fff;
    cursor: pointer;
    font-weight: 600;
}

#nav-mid>h4:nth-child(4):hover {
    border-bottom: 1.5px solid #fff;
    cursor: pointer;
    font-weight: 600;
}

#circle {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: white;
}

/* PAGE 1 */
#page-1 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 30;
}

#page-1>h1 {
    font-size: 8vw;
    font-weight: 600;
    padding-top: 10vw;
    padding-left: 13vw;
    line-height: 6vw;
    transform: rotate(4deg);
    transform-origin: left;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
}

#page-1>h2 {
    font-size: 8vw;
    font-weight: 600;
    /* margin-top: 10vw; */
    padding-left: 18vw;
    transform: rotate(4deg);
    transform-origin: left;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
}

#page-1>video {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8vw;
    width: 60%;
    margin-bottom: 8vw;
}

/* PAGE 2 */
#page-2 {
    height: 90vh;
    /* background-color: white; */
    /* color: black; */
    padding: 0% 8%;
    position: relative;
    border-bottom: 2px solid rgb(156, 156, 156);
    z-index: 30;
}

#page-2>h1 {
    font-size: 8vw;
    margin-bottom: 3%;
    font-weight: 600;
    color: #111;
}

#page-2>h3 {
    /* position: absolute; */
    width: 40%;
    /* left: 10%; */
    font-size: 3.5vw;
    font-weight: 500;
    color: #111;
    line-height: 4vw;
}

#page-2-right {
    position: absolute;
    right: 5%;
    width: 25%;
    top: 35%;
    font-size: 1.7vw;
}

#page-2-right>p {
    color: #111;
    line-height: 2vw;
}

#page-2-right>button {
    width: 100%;
    background-color: rgba(255, 127, 255, 0.644);
    color: black;
    text-align: center;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
}

/* PAGE 3 */
#page-3 {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    border-bottom: 2px solid #332c2e;
    z-index: 30;
}

#page-3>h1 {
    color: #111;
    font-size: 6vw;
    font-weight: 500;
    margin-left: 5vw;
    margin-top: 5vw;
}

#page-3-part-1,
#page-3-part-2 {
    display: flex;
    justify-content: space-between;
}

.img-div>img,
.vid-div>video {
    height: 25vw;
}

.img-div:nth-child(1) {
    margin-top: 10vw;
}

.img-div:nth-child(2) {
    margin-top: 10vw;
}

#all-project {
    margin-top: 5vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    align-items: center;
    margin-bottom: 5vw;
}

#all-project>h1:hover {
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
    color: rgba(54, 54, 54, 0.753);
    cursor: pointer;
}

#all-project>button {
    padding: 5% 4%;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 127, 255, 0.644);
    border: none;
    position: relative;
    z-index: 1;
}

#all-project>button>span {
    color: #100D0E;
    font-size: 0.7vw;
    z-index: 2;
}

#all-project>button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(255, 127, 255, 0.644);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease;
}
#all-project>button:hover::before{
    scale: 2;
    opacity: 0;
}

/* PAGE 4 */
#page-4{
    min-height: 100vh;
    width: 100vw;
    position: relative;
    margin-top: 10vw;
    padding: 0% 1%;
    z-index: 30;
}
.elem{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
    /* margin-bottom: -1%; */
}
#text-div{
    height: 8vw;
    overflow: hidden;
    z-index: 9;
    position: relative;
}
.elem h1{
    font-size: 6.5vw;
    transition: all ease-out 0.5s;
}
.elem img{
    transform: translateY(10%) rotate(2deg);
    opacity: 0;
    transition: all ease-out 0.5s;
    position: absolute;
}
.elem img:nth-child(1){
    left: 3%;
    /* z-index: 0; */
}
.elem img:nth-child(3){
    right: 10%;
    /* z-index: 0; */
}

.elem:hover h1{
    transform: translateY(-9.6vw);
}
.elem:hover img{
    opacity: 1;
    transform: translateY(0%) rotate(0deg);
}

/* page 5 */
#page-5{
    border-top: 0.5px solid #dadada;
    min-height: 100vh;
    width: 100vw;
    padding: 5% 7%;
    position: relative;
    z-index: 30;
}
#page-5>h1{
    font-size: 5vw;
    font-weight: 400;
}
.pg-5-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 2%;
    border-top: 1px solid #dadada;
}
.pg-5-box:nth-last-child(1){
    border-bottom: 1px solid #dadada;
}
.box-text-right{
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.box-text-right>h3{
    color: #9b9b9b;
    font-size: 1.2vw;
    font-weight: 400;
    text-align: end;
}

/* FOOTER */
footer{
    /* position: relative; */
    height: 140vh;
    width: 100vw;
    background-color: rgb(255, 140, 255);
    position: relative;
}
#footer-part-1{
    width: 100%;
    padding: 0% 8%;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#footer-part-1>h1{
    font-size: 8vw;
    font-weight: 400;
    color: #100D0E;
}


#footer-part-1>button {
    padding: 6% 4%;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    position: relative;
    z-index: 1;
}

#footer-part-1>button>span {
    color: #100D0E;
    font-size: 0.9vw;
    z-index: 2;
}

#footer-part-1>button::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    z-index: -1;
    transition: all 0.5s ease;
}
#footer-part-1>button:hover::before{
    scale: 2;
    opacity: 0;
}
#footer-part-1>button:hover span{
    text-decoration: underline;
}

#footer-part-2{
    position: absolute;
    top: 60%;
    margin: 0% 8%;
}
#footer-part-2>h4{
    color: #100D0E;
    font-size: 1.5vw;
    font-weight: 500;
}
#footer-part-2-bottom{
    display: flex;
    margin-top: 5%;
    font-size: 1vw;
}
#footer-part-2-bottom>span{
    margin-right: 5vw;
}
#footer-part-2-bottom>span>p{
    color: #100D0E;
    font-size: 0.8vw;
}

@media (min-width:900px) {
    #mobile-div{
        z-index: 0;
        display: none;
        opacity: 0;
    }
}